In [3]:
# Ambil satu dataset yang berasal dari Portal Satu Data Indonesia.
# Upload data tersebut ke dalam pandas kemudian bersihkan data menggunakan fungsi drop

In [4]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("D://UNESA//SEMESTER 5//Machine Learning//Praktikum 2//06282b95-736d-4c14-9ccf-e5ad128d0db6.csv")
df.head()

   _id  No                 Sekolah      NPSN Jenjang Kecamatan          TW 1
0    1   1      SD NEGERI WANAR 01  20322874       N   Tersono   10.720.000
1    2   2       SD NEGERI TERSONO  20322806       N   Tersono   19.040.000
2    3   3  SD NEGERI TEGALOMBO 02  20322811       N   Tersono   12.960.000
3    4   4  SD NEGERI TEGALOMBO 01  20322812       N   Tersono   12.960.000
4    5   5   SD NEGERI TANJUNGSARI  20322796       N   Tersono    9.600.000

In [9]:
# Menghapus kolom jenjang karena tidak ada deskripsi lebih lanjut
to_drop = ['Jenjang']
df.drop(to_drop, inplace=True, axis=1)

In [10]:
df.head()

   _id  No                 Sekolah      NPSN Kecamatan          TW 1
0    1   1      SD NEGERI WANAR 01  20322874   Tersono   10.720.000
1    2   2       SD NEGERI TERSONO  20322806   Tersono   19.040.000
2    3   3  SD NEGERI TEGALOMBO 02  20322811   Tersono   12.960.000
3    4   4  SD NEGERI TEGALOMBO 01  20322812   Tersono   12.960.000
4    5   5   SD NEGERI TANJUNGSARI  20322796   Tersono    9.600.000